/*Color scheme:
 * #5adaff
 * #2d95b2
 * #ff739e
 * #ccc134
 * #b2a936
 * */

* {
    margin: 0;
    padding: 0;
}

*.unselectable {
    -moz-user-select: -moz-none;
    -kthml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav * {
    -moz-user-select: -moz-none;
    -kthml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body {
    height: 100%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-family: Ubuntu;
    font-family: Chivo;
}

body {
    overflow-x: hidden;
}

button {
    padding: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    -webkit-font-smoothing: antialiased;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-family: Ubuntu;
    font-family: Chivo;
}

button:hover {
    cursor: pointer;
}

nav {
    height: 30px;
    overflow-x: hidden;
    overflow: hidden;
    border-bottom: 1px solid #5adaff;
}

nav > div, nav > ul {
    display: inline-block;
    height: 100%;
    text-align: center;
    background-color: white;
}


nav li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: #5adaff;
}

nav > ul > li > a {
    font-size: 24px;
}


nav > ul {
    float: right;
}

nav > ul:nth-child(3) > li > a, nav > ul:last-child > li > a {
    font-size: 18px;
}   

nav > ul:last-child {
    overflow: hidden;
    width: 150px;
    height: 90px;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 30px;
    right: -154px;
    clear: right;

    -webkit-transition: right .25s ease-in-out;
    -moz-transition: right .25s ease-in-out;
    -o-transition: right .25s ease-in-out;
    transition: right .25s ease-in-out;
}

nav > ul.display_show {
    display: initial;
}

.hidden {
    display: none;
}

.start {
    right: -145px;
}

.transition {
    right: 0px;
}

nav > ul.open {
    right: 0px;
}

nav > ul:first-child {
    width: 20%;
    margin-left: 40%;
    vertical-align: top;
    float: none;
}

div.hamburger {
    width: 4%;
    height: 100%;
    float: right;
}

div.hamburger:hover {
    cursor: pointer;
}

div.hamburger > span {
    display: block;
    position: relative;
    left: 10px;
    width: 35px;
    height: 5px;
    background: #5adaff;
    border-radius: 5px;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

div.hamburger > span:first-child {
    top: 4px;
}

div.hamburger > span:nth-child(2) {
    top: 7px;
}

div.hamburger > span:nth-child(3) {
    top: 2px;
}

div.hamburger > span:last-child {
    top: 5px;
}

div.hamburger.open > span:first-child {
    top: 10px;
    width: 0;
    left: 25px; 
}

div.hamburger.open > span:last-child {
    top: -2px;
    width: 0;
    left: 25px;
}

div.hamburger.open > span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

div.hamburger.open > span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.search-area {
    margin-left: 17.5%;
    min-height: 615px;
    width: 65%;
    border: 1px solid #5adaff;
    background-color: #fff;
    border-radius: 15px;
    padding: 10px 10px 10px 10px;
}

#search-area-wrapper {
    padding: 15px 0 5px 0;
    min-height: 93%;
    width: 100%;
    background-color: #53767f;
}

#search-area-wrapper > div {
    display: inline-block;
}

.search-area div * {
    display: inline;
}

.search-area div > form select option{
    display: block;
}

.search-area div > form > div > div.button-wrap{
    display: block;
}

.search-area div > form > div > div.button-wrap button{
    display: inline;
}

.button-area {
    padding: 5px;
    left: 42%;
    top: 80%;
    width: 20%;
    height: 30px;
    position: fixed;
    border-bottom: 1px solid #000000;
    background-color: transparent;
    display: block;
}

.button-area button {
    display: inline-block;
}


.circle-small {
    border-radius: 25px;
    height: 20px;
    width: 20px;
    background-color: #5adaff;
}

.button-style-2 {
    /*border: 1px solid #2d95b2;*/
    background-color: #ffffff;
    border-radius: 10px;
    /*box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.2), 10px 10px 5px 0 rgba(0,0,0,0.19);*/
    /*box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.2);*/
    /*Safari bug cause elements (buttons) within certain fixed containers to affect themselves and each other
     * causing changes in color (on clicking/hovering). The line -webkit-transform: translateZ(0); fixes this issue.
     * Additionally, setting the size of the container to be bigger can also be a possible fixed.
     * The current solution may be inefficient in relation to power supply.
     * */
/*-webkit-transform: translateZ(0);*/
margin-right: 5px;
height: 30px;
min-width: 15%;
font-size: 20px;
font-weight: bold;
font-family: "Baloo Tamma", cursive;
}

.button-style-2:hover {
    background-color: #E8E8E8;
}
.button-style-2:active {
    color: #919191;
}

/*half way in viewport*/

#table-area {
    width: 100%;
    height: 100%;
    background-color: blue;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.table-header-section {
    border: 1px solid black;
    background-color: #53767f;
    width: 100%;
    height: 20px;

}

.table-header-section > * {
    display: inline-block;
    vertical-align: top;
}

.view-type-area {
    margin: 0;
    height: 100%;
    background-color: transparent; 
}

.view-type-area > label, .view-type-area > label > input {
    cursor: pointer;
}

#display_options {
    margin-left: 5px;
}

.dl-area {
    float: right;
    margin-right: 5px;
}

.clear {
    clear: both;
}

.dropdown {
    height: 100%;
    margin-left: -5px;
}

.dropdown dt, .dropdown dd{
    float: left;
}

.dropdown dt {
    margin: 0;
    background-color: transparent;
    width: 150px;
    cursor: pointer;
    height: 100%;
}

.dropdown dt:hover {
}

.dropdown dd {
    position: relative;
    float: left;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    background-color: black;

    transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
}

.dropdown dd.dd_open {
    width: 210px;
    height: 300px;
    border: 3px solid #5adaff;
}

.dropdown dd ul {
    background-color: #53767f;
}
.dropdown dd ul li {
    display: block;
}

.dropdown dd ul li label, .dropdown dd ul li label input {
    z-index: 1000;
    cursor: pointer;
}

.dropdown dd ul li label {
    display: inline-block;
    width: 200px;
}

.dropdown dd ul li label:hover {
    background-color: #333;
}

.dropdown dd ul li label input {
    margin-left: 5px;
    margin-right: 5px;
}

#table-area-wrapper {
    overflow: scroll;
    background-color: black;
    width: 100%;
    height: 97%;
}

#arrow-box {
    background-color: transparent;
    height: 100%;
    width: 30%;
    margin-left: 35%;
    position: relative;
}

@-webkit-keyframes bounce {
    0% {bottom: 15px;}
    25%, 75% {bottom: 20px; }
    50% {bottom: 25px;}
    100% {bottom: 10px;}
}

@-webkit-keyframes bounce2 {
    0% {top: 15px;}
    25%, 75% {top: 20px; }
    50% {top: 25px;}
    100% {top: 10px;}
}

.bouncing-effect {
    -webkit-animation: bounce 1s infinite;
    -moz-animation: bounce 1s infinite;
    -o-animation: bounce 1s infinite;
    animation: bounce 1s infinite;
}

.bouncing-effecti-2 {
    -webkit-animation: bounce2 1s infinite;
    -moz-animation: bounce2 1s infinite;
    -o-animation: bounce2 1s infinite;
    animation: bounce2 1s infinite;
}

#scroll-bottom {
    width: 20.80%;
    height: 56px;
    position: fixed;
    display: inline-block;
    background-color: transparent;
    border-radius: 10px;
    bottom: -100px;
    left: 42%;
    transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
}


#scroll-top {
    width: 20.80%;
    height: 56px;
    position: fixed;
    display: inline-block;
    background-color: transparent;
    border-radius: 10px;
    top: -100px;
    left: 42%;
    transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
}



#loader {
    width: 70%;
    margin-left: 40px;
}

#loader > span{
font-size: 30px;
font-weight: bold;
font-family: "Baloo Tamma", cursive;
vertical-align: top;
}

#arrow-box2 {
    background-color: transparent;
    height: 100%;
    width: 30%;
    margin-left: 35%;
    position: relative;
}

#scroll-bottom:hover > #arrow-box > .arrow:before, #scroll-bottom:hover > #arrow-box > .arrow:after, #scroll-bottom:hover > #arrow-box > .arrow-2:before, #scroll-bottom:hover > #arrow-box > .arrow-2:after  {
}

#scroll-bottom:hover, #scroll-top:hover {
    background-color: #E8E8E8;
    cursor: pointer;
}
.arrow {
   position: relative;
   color: #333;
   left: 17px;
}

.arrow:before, .arrow:after {
    content: "";
    background: #000;
    border-radius: 0.2em;
    border-radius: 3px;
    display: block;
    height: 10px;
    position: relative;
    width: 30px;
}

.arrow:before {
    top: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrow:after {
    left: 15px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrow-2 {
   position: relative;
   color: #333;
}

.arrow-2:before, .arrow-2:after {
    content: "";
    background: #000;
    border-radius: 0.2em;
    border-radius: 3px;
    display: block;
    height: 10px;
    position: relative;
    width: 50px;
}

.arrow-2:before {
    top: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrow-2:after {
    left: 30px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrow-3 {
   position: relative;
   color: #333;
   left: 17px;
}

.arrow-3:before, .arrow-3:after {
    content: "";
    background: #000;
    border-radius: 0.2em;
    border-radius: 3px;
    display: block;
    height: 10px;
    position: relative;
    width: 30px;
}

.arrow-3:before {
    top: 35px;
    left: 16px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrow-3:after {
    top: 25px;
    left: 1px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrow-4 {
   position: relative;
   color: #333;
}

.arrow-4:before, .arrow-4:after {
    content: "";
    background: #000;
    border-radius: 0.2em;
    border-radius: 3px;
    display: block;
    height: 10px;
    position: relative;
    width: 50px;
}

.arrow-4:before {
    top: -3px;
    left: 30px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrow-4:after {
    top: -13px;
    left: 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    overflow: scroll;
    background-color: green;
}

tbody, thead {
    position: relative;
    height: 50px;
}

th, td {
    border: 1px solid black;
    width: 200px;
    vertical-align: top;
    height: 400px;
}

tr {
    height: 50px;
}

th.body_column, td.body_column {
    width: 875px;
}

thead {
    height: 100%;
}

th {
   /* white-space: nowrap;*/
}


#comments_table > tbody > tr > td:nth-child(5) > p {
    color: #B900FF;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

#comments_table > tbody > tr > td:nth-child(5) > p > span{
    color: #000000;
    border-radius: 5px; 
    display: inline-block;
    padding: 0 4px;
    width: 14px;
    margin-left: 5px;
    cursor: pointer;
}

#comments_table > tbody > tr > td:nth-child(5) > p > span:hover {
    background-color: #E8E8E8; 
}

#comments_table > tbody > tr > td > button, #comments_table > tbody > tr > div, #comments_table > tbody > tr > td > a {
    display: block;
}
