/*Color scheme:
 * #5adaff
 * #2d95b2
 * #ff739e
 * #ccc134
 * #b2a936
 * */

* {
    margin: 0;
    padding: 0;
}

*.unselectable {
    -moz-user-select: -moz-none;
    -kthml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav * {
    -moz-user-select: -moz-none;
    -kthml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body {
    height: 100%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-family: Ubuntu;
    font-family: Chivo;
}

body {
    overflow-x: hidden;
}

button {
    padding: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    -webkit-font-smoothing: antialiased;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-family: Ubuntu;
    font-family: Chivo;
}

button:hover {
    cursor: pointer;
}

nav {
    height: 30px;
    overflow-x: hidden;
    overflow: hidden;
    border-bottom: 1px solid #5adaff;
}

nav > div, nav > ul {
    display: inline-block;
    height: 100%;
    text-align: center;
    background-color: white;
}


nav li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: #5adaff;
}

nav > ul > li > a {
    font-size: 24px;
}


nav > ul {
    float: right;
}

nav > ul:nth-child(3) > li > a, nav > ul:last-child > li > a {
    font-size: 18px;
}   

nav > ul:last-child {
    overflow: hidden;
    width: 150px;
    height: 90px;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 30px;
    right: -154px;
    clear: right;

    -webkit-transition: right .25s ease-in-out;
    -moz-transition: right .25s ease-in-out;
    -o-transition: right .25s ease-in-out;
    transition: right .25s ease-in-out;
}

nav > ul.display_show {
    display: initial;
}

.hidden {
    display: none;
}

.start {
    right: -145px;
}

.transition {
    right: 0px;
}

nav > ul.open {
    right: 0px;
}

nav > ul:first-child {
    width: 20%;
    margin-left: 40%;
    vertical-align: top;
    float: none;
}

div.hamburger {
    width: 4%;
    height: 100%;
    float: right;
}

div.hamburger:hover {
    cursor: pointer;
}

div.hamburger > span {
    display: block;
    position: relative;
    left: 10px;
    width: 35px;
    height: 5px;
    background: #5adaff;
    border-radius: 5px;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

div.hamburger > span:first-child {
    top: 4px;
}

div.hamburger > span:nth-child(2) {
    top: 7px;
}

div.hamburger > span:nth-child(3) {
    top: 2px;
}

div.hamburger > span:last-child {
    top: 5px;
}

div.hamburger.open > span:first-child {
    top: 10px;
    width: 0;
    left: 25px; 
}

div.hamburger.open > span:last-child {
    top: -2px;
    width: 0;
    left: 25px;
}

div.hamburger.open > span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

div.hamburger.open > span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.search-area {
    margin-left: 17.5%;
    min-height: 620px;
    width: 65%;
    border: 1px solid #5adaff;
    background-color: #fff;
    border-radius: 15px;
    padding: 10px 10px 10px 10px;
}

#search-area-wrapper {
    padding: 15px 0;
    min-height: 94%;
    width: 100%;
    background-color: #53767f;
}

#search-area-wrapper > div {
    display: inline-block;
}

.search-area div * {
    display: inline;
}

.search-area div > form select option{
    display: block;
}

.search-area div > form > div > div.button-wrap{
    display: block;
}

.search-area div > form > div > div.button-wrap button{
    display: inline;
}

.button-area {
    padding: 5px;
    left: 42%;
    top: 80%;
    width: 20%;
    height: 30px;
    position: fixed;
    border-bottom: 1px solid #000000;
    background-color: transparent;
    display: block;
}

.button-area button {
    display: inline-block;
}


.circle-small {
    border-radius: 25px;
    height: 20px;
    width: 20px;
    background-color: #5adaff;
}

.button-style-2 {
    /*border: 1px solid #2d95b2;*/
    background-color: #ffffff;
    border-radius: 10px;
    /*box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.2), 10px 10px 5px 0 rgba(0,0,0,0.19);*/
    /*box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.2);*/
    /*Safari bug cause elements (buttons) within certain fixed containers to affect themselves and each other
     * causing changes in color (on clicking/hovering). The line -webkit-transform: translateZ(0); fixes this issue.
     * Additionally, setting the size of the container to be bigger can also be a possible fixed.
     * The current solution may be inefficient in relation to power supply.
     * */
/*-webkit-transform: translateZ(0);*/
margin-right: 5px;
height: 30px;
min-width: 15%;
font-size: 20px;
font-weight: bold;
font-family: "Baloo Tamma", cursive;
}

.button-style-2:hover {
    background-color: #E8E8E8;
}
.button-style-2:active {
    color: #919191;
}

/*half way in viewport*/

.table-area {
    width: 100%;
    height: 100%;
    background-color: red;
}

.table-header-section {
    border: 1px solid black;
    background-color: #53767f;
    width: 100%;
    height: 20px;

}

.table-header-section > * {
    display: inline-block;
    vertical-align: top;
}

.view-type-area {
    margin: 0;
    height: 100%;
    background-color: green; 
}

.dl-area {
    float: right;
    margin-right: 5px;
}

.clear {
    clear: both;
}

.dropdown {
    height: 100%;
    margin-left: -5px;
}

.dropdown dt, .dropdown dd{
    float: left;
}

.dropdown dt {
    margin: 0;
    background-color: yellow;
    width: 150px;
    cursor: pointer;
    height: 100%;
}

.dropdown dt:hover {
    background-color: green;
}

.dropdown dd {
    position: relative;
    float: left;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    background-color: black;

    transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
}

.dropdown dd.dd_open {
    width: 210px;
    height: 300px;
}

.dropdown dd ul {
    background-color: green;
}
.dropdown dd ul li {
    display: block;
}

.dropdown dd ul li label, .dropdown dd ul li label input {
    z-index: 1000;
    cursor: pointer;
}

.dropdown dd ul li label {
    display: inline-block;
    border: 1px solid blue;
    width: 190px;
}

.dropdown dd ul li label input {
    margin-left: 5px;
    margin-right: 5px;
}

#scroll-bottom {
    width: 847px;
    height: 150px;
    position: fixed;
    display: inline-block;
    background-color: blue;
    bottom: 0;
    left: 220px;
}

#table-area-wrapper {
    overflow: scroll;
    height: 97%;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    vertical-align: top;
}

.arrow {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #000;
}

.arrow:after, .arrow:before {
    border: solid transparent;
    top: 8px;
    left: 25%;
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    pointer-events: none;
}

.arrow:after {
    border-color: rgba(52, 131, 209, 0);
    border-top-color: blue;
    border-width: 40px 200px 0 200px;
    margin-left: 5px;
}

.arrow:before {
    border-color: rgba(10, 12, 13, 0);
    border-top-color: #000000;
    border-width: 42px 205px 0 205px;
}

.arrow2 {
    position: relative;
    background-color: #ffffff;
    border-style inset;
}

.arrow2:after, .arrow2:before {
    border: solid transparent;
    border-color: rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0) #fff;
    left: 31%;
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    pointer-events: none;
}

.arrow2:after {
    border-color: rgba(0, 0, 0, 0);
    border-top-color: blue;
    border-width: 30px 150px 0 150px;
    margin-left: 5px;
}

.arrow2:before {
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #000000;
    border-width: 32px 55px 0 55px;
}

#ar1 {
    position: relative;
    background: url("48_down.png") no-repeat;
    width: 50px;
    height: 50px;
    background-color: transparent;
    margin-left: 13px;
}

#ar2 {
    position: relative;
    background: url("64_down.png") no-repeat;
    width: 60px;
    height: 60px;
    background-color: transparent;
    margin-top: -40px;
    margin-left: 5px;
}
